---
layout: base
title: Photo 
pagination: 
  data: photos.7kmsoc3.media
  size: 1
  alias: photo
---

<nav>
  <ul>
    <li>{% if pagination.href.first %}<a href="{{ pagination.href.first }}">First</a>{% else %}First{% endif %}</li>

    <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}</li>

    <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</li>
    
    <li>{% if pagination.href.last %}<a href="{{ pagination.href.last }}">Last</a>{% else %}Last{% endif %}</li>
  </ul>
</nav>

<header>
  <h1>{{ title }}</h1>
</header>

<main>
  <section style="background-color: {{ photo.avg_color }};">
    <img src="{{ photo.src.large }}" alt="{{ photo.alt }}">
  </section>

  <p>Photographer: {{ photo.photographer }}</p>

  <p><a href="{{ photo.photographer_url }}">{{ photo.photographer }}'s Pexels Website</a></p>
</main>

